<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @user.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @user.address2 %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @user.rank %>
</p>

<p>
  <strong>Purchases:</strong>
  <%= @user.purchases %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @user.sales %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
